@{
    ViewBag.Title = "CatalogoMarcas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/funciones_catMarcas.js"></script>

<div id="panel-2" class="panel">
    <div class="panel-hdr text-success">
        <h2>Ingresar Marca<span class="fw-300"></span></h2>
        <div class="panel-toolbar">
            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
        </div>
    </div>
    <div class="panel-container">
        <div class="panel-content">
            <div class="form-group row">
                <div class="col-lg-3">
                    <label>Descripción</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="descripcion" name="descripcion">
                    </div>
                </div>
                <div class="panel-content">
                    <label> </label>
                    <button id="ObtieneInfo" class="btn btn-primary" onclick="GuardarMarca();">Agregar</button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content" id="mostrar_consulta">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-backdrop-transparent" id="ModalError" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="Error">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
