
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/OrdenC/Shared/_Layout.cshtml";
}

<h2>Ingreso de Ordenes</h2>


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Consulta de Ordenes
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    @Html.Raw(ViewBag.Tabla)
                </div>
            </div>
        </div>
    </div>
</div>