
@{
    ViewBag.Title = "CrearVentas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "CrearVentas";
    Layout = "~/Views/POS/Shared/_Layout.cshtml";
}

@*FACTURADOR SALVADOR*@

<script src="~/js/POS_SV/func_crear_ventas.js"></script>
<script src="~/js/POS_SV/CrearJSON_SV.js"></script>

<div class="panel-container show">
    <div class="panel-content">
        <div class="tab-content py-3">
            <div class="tab-pane fade show active" id="nav_pills_default-1" role="tabpanel">
                <div class="row">
                    <div class="col-xl-12">
                        <div id="panel-1" class="panel">
                            <div class="panel-hdr">
                                <table style="margin-left:15px" width="100%">
                                    <tr>
                                        <td width="10%">
                                            <div class="d-flex justify-content-between">
                                                <h2>Facturación</h2>
                                            </div>
                                        </td>
                                        <td width="10%">
                                            <div class="input-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked" onclick="ActivaNit(this);">
                                                    <label class="custom-control-label" for="defaultUnchecked">NIT/CUI</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td width="15%">
                                            <div class="input-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked2" onclick="ActivaCf(this);">
                                                    <label class="custom-control-label" for="defaultUnchecked2">Consumidor final</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td width="65%"></td>
                                    </tr>
                                </table>
                            </div>






                            @*SEGUNDO PANEL*@
                            <div class="panel-container show">
                                <div class="panel-container show">
                                    <div class="panel-content">
                                        <div class="form-group row">
                                            <div class="col">
                                                <b>Datos del cliente</b>
                                                <br />
                                                <label style="font-size: 11px; color: gray;">Presiona F2 para abrir la ventana de ayuda</label>
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <table width="100%">
                                                            <tr>
                                                                <td width="55%">
                                                                    <div class="input-group">
                                                                        <input type="text" onkeydown="onKeyDownHandler(event);" class="form-control" id="inp_nit" onchange="BuscarCodigo();" placeholder="NIT">
                                                                    </div>
                                                                </td>
                                                                <td width="40%">
                                                                    <div class="input-group">
                                                                        <input type="text" onkeydown="onKeyDownHandler(event);" class="form-control" id="inp_codclie" onchange="BuscarCodigo();" placeholder="Cod. Clie.">
                                                                    </div>
                                                                </td>
                                                                <td width="5%">
                                                                    <button class="btn btn-primary btn-dark">🔍︎</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="inp_cliente" placeholder="Razón social">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="inp_email" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" id="inp_fecha">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col">
                                                <b>Datos de facturación</b>
                                                <br />
                                                <br />
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input id="inp_direccion" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input id="inp_departamentos" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input id="inp_municipios" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input id="" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                        <div class="form-group row">
                                            <div class="col">
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input id="inp_tipoactividad" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input id="inp_tipodocumento" class="form-control" />                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input id="" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input id="" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>































                            <div class="panel-content">
                                <div class="panel-hdr">
                                    <h2>Productos / Servicios</h2>
                                </div>
                            </div>
                            <div class="panel-container show">
                                <div class="panel-container show">
                                    <div class="panel-content">
                                        <div class="form-group row">
                                            <div class="col">
                                                <label style="font-size:11px; color:gray;">Presiona F2 para abrir la ventana de ayuda</label>
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <table width="100%">
                                                            <tr>
                                                                <td width="95%">
                                                                    <label></label>
                                                                    <div class="input-group">

                                                                        <input type="text" onkeydown="onKeyDownHandler(event);" class="form-control" id="id_codigo" name="id_codigo" onchange="BuscarCodigo();" placeholder="Cod. Producto">
                                                                    </div>
                                                                </td>
                                                                <td width="5%">
                                                                    <label></label>
                                                                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ayudaproductos">🔍︎</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <table width="100%">
                                                            <tr>
                                                                <td width="45%">
                                                                    <label id="labelexistencia">Cantidad</label>
                                                                    <div class="input-group">
                                                                        <input type="text" right"="" class="form-control" id="existencia" name="existencia">
                                                                    </div>
                                                                </td>
                                                                <td width="5%"></td>
                                                                <td width="45%">
                                                                    <label id="labelexistencia">Existencia</label>
                                                                    <div class="input-group">
                                                                        <input type="text" right"="" class="form-control" id="existencia" name="existencia" disabled="">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <table width="100%">
                                                            <tr>
                                                                <td width="45%">
                                                                    <label id="labelexistencia">Precio $</label>
                                                                    <div class="input-group">
                                                                        @*<span class="input-group-text" id="simbprecio">$</span>*@
                                                                        <input type="text" align="right" class="form-control" id="precio" name="precio" onchange="focusPrecio();" onblur="focusDescuento();" value="0">
                                                                    </div>
                                                                </td>
                                                                <td width="5%"></td>
                                                                <td width="45%">
                                                                    <label id="labelexistencia">Descto. %</label>
                                                                    <div class="input-group">
                                                                        <input type="text" align="right" class="form-control" id="descto" name="descto" onchange="focusDescuento();" onblur="focusDescuento();" disabled="" value="0">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <label>Subtotal</label>
                                                        <div class="input-group">
                                                            @*<span class="input-group-text" id="simbsubtotal"> </span>*@
                                                            <input type="text" align="right" class="form-control" id="tsubtotal" name="tsubtotal" disabled="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <label> </label>
                                                        <div class="input-group">
                                                            <button type="button" class="btn btn-primary btn-dark" id="btnagregar" onclick="AddDetalle();">

                                                                Agregar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-2">
                                                <label>Código equivalente</label>
                                                <input type="text" id="codigoe" name="codigoe" class="form-control" disabled>
                                            </div>
                                            <div class="col-lg-9">
                                                <label>Producto</label>
                                                <textarea id="producto" name="producto" rows="3" cols="1" class="form-control"></textarea>
                                            </div>
                                            <div class="col-lg-2">
                                            </div>
                                        </div>
                                        <br />

                                        <div class="col">
                                            <div>
                                                <table id="tabladetalle" class="table table-responsive table-bordered detalleVenta">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>CODIGO</th>
                                                            <th>CANTIDAD</th>
                                                            @*<th>SERVICIO</th>*@
                                                            <th>PRODUCTO</th>
                                                            <th>PRECIO</th>
                                                            <th>DESCTO</th>
                                                            <th>SUBTOTAL</th>
                                                            <th>IMPUESTO</th>
                                                            <th>ELIMINAR</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <div class="d-flex justify-content-end">
                                                    <h4>TOTAL </h4>
                                                    <h4 id="simbtotal"></h4>
                                                    <h4 id="total" name="total"></h4>
                                                </div>
                                                <div class="panel-content">

                                                    <button type="button" class="btn btn-dark btn-info" onclick="GuardarFactura();">
                                                        <span class="fal fa-check mr-1"></span>
                                                        Terminar Venta
                                                    </button>

                                                    <button type="button" class="btn btn-info" onclick="Previsualizar();">
                                                        <span class="fal fa-check mr-1"></span>
                                                        Pre-Visualizar Factura
                                                    </button>

                                                    @if (ViewBag.PermisoFacturarOrden == "true")
                                                    {
                                                        <button type="button" class="btn btn-dark btn-info" data-toggle="modal" data-target="#ayudaordenes" onclick="getListaOrdenes();">Importar Orden</button>
                                                    }


                                                    @*<button type="button" class="btn btn-dark btn-info" data-toggle="modal" data-target="#ayudaordenes" onclick="getListaOrdenes();">Nota de Crédito</button>*@






                                                    <button type="button" class="btn btn-danger" onclick="AnularVenta();">
                                                        <span class="fas fa-ban mr-1"></span>
                                                        Cancelar Venta
                                                    </button>



                                                    @*<button type="button" class="btn btn-dark btn-info" onclick="getListaOrdenes();" data-target="#ayudaordenes">
                                                            <span class="fas fa-check mr-1"></span>
                                                            Importar Orden de Servicio
                                                        </button>*@



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>













            @*AQUI VAN LOS MODALES PARA CLIENTE, ERROR Y PRODUCTOS*@
            <div class="modal fade modal-backdrop-transparent" id="ModalError" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Mensaje</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" id="Error">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-backdrop-transparent" id="ayudaclientes" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Clientes</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @Html.Raw(ViewBag.Tabla)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade modal-backdrop-transparent" id="ayudaproductos" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Producto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @Html.Raw(ViewBag.TablaInventario)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-backdrop-transparent" id="ayudaordenes" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Producto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        @*<div class="modal-body">
                                @Html.Raw(ViewBag.TablaOrden)
                            </div>*@


                        <div class="modal-body">
                            <div id="tablita">

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>





            <div class="modal fade modal-backdrop-transparent" id="formaPago" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Seleccione una forma de pago</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Tipo de Venta</label>
                                        <select id="tipoFormaPago" class="browser-default custom-select">
                                            <option selected value="1">Efectivo</option>
                                            <option value="2">Tarjeta</option>
                                            <option value="3">Cheque</option>
                                            <option value="4">Vales</option>
                                            <option value="5" hidden>Transferencia</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="finalizarDataPost()">Terminar Venta</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            @*MODAL CANTIDAD EXISTENCIA*@
            <div class="modal fade modal-backdrop-transparent" id="ModalCantExist" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Mensaje</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" id="Error">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-backdrop-transparent" id="ModalFinalizarPOS" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Mensaje</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" id="Error1">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-backdrop-transparent" id="buscarfacturas" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content modal-body">
            <div class="modal-header">
                <h5 class="modal-title">Facturas Ingresadas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="facturas">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade modal-backdrop-transparent" id="modalResumen" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content modal-body">
            <div class="modal-header">
                <h5 class="modal-title">Orden de Servicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Orden</label>
                        <input type="text" id="ordenres" name="codigoe" class="form-control" disabled>
                    </div>
                    <div class="col-lg-8">
                        <label>Serie</label>
                        <input type="text" id="serieres" name="codigoe" class="form-control" disabled>
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
                <div>
                    <button id="btnResumen" class="btn btn-primary" data-dismiss="modal" onclick="OrdenResumen()">Resumen</button>
                    <button id="btnDetallado" class="btn btn-primary" data-dismiss="modal" onclick="OrdenDetallada()">Detallado</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



