
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/js/funciones_test.js"></script>

<div id="panel-1" class="panel">
    <div class="panel-hdr">
        <h2>
            Resultado <span class="fw-300"><i>Consulta</i></span>
        </h2>
        <div class="panel-toolbar">
            <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
        </div>
    </div>
    <div class="panel-container show">
        <div id="ordersGrid"></div>
    </div>
</div>

